<% @body_id = 'taxon-splash' %>
<% if @taxon.taxon_splash.content.blank? %>
<%# throw content in here for development %>
<% else %>
<%== @taxon.taxon_splash.content %>
<% end %>
<div data-hook="taxon_products">
  <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
</div>